.profile-wrapper
	display: flex;
	flex-wrap: wrap;
	&__title
		margin-left: 53px;
		align-self: center;
		font:67px/125px $f-headers
	&__text
		font:$s-regular/75px $f-first;
		color: $c-text;
		margin-top: 29px;
		hyphens: auto;
		word-wrap: break-word;
		margin-left: 4px;