.work
	.work__title
		+profile({
			img: 'assets/images/profile/case.png',
			title: 'Work Experience'
		})
	.work__row
		.work__items
			.work__inner-wrap
				.work__year 2000 - Present
				.work__post UI/UX Designer
				.work__name Microsoft Corp.
			.work__text Nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea cosequat.
		.work__items
			.work__inner-wrap
				.work__year 2010 - 2014
				.work__post Lead Designer
				.work__name DeviserWeb
			.work__text Nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea cosequat.
		.work__items
			.work__inner-wrap
				.work__year 2010 - 2014
				.work__post Lead Designer
				.work__name DeviserWeb
			.work__text Nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea cosequat.
			//.work__line

