.interests
	&__row
		display: flex;
		justify-content: space-between;
		margin-top: 55px;
	&__text
		font:700 $s-regular/70px $f-first
		margin-top: 20px
		margin-left: 8px
	&__img
		text-align: center;
		margin-left: 2px