-
	var interests = [
	{
		img:'assets/images/interests/handset.png',
		text:'Music'
	},
	{
		img:'assets/images/interests/playstation.png',
		text:'Gaming'
	},
	{
		img:'assets/images/interests/bike.png',
		text:'Biking'
	}

	];
.interests__row
	each item in interests
		.interests__common
			.interests__img
				img(src =item.img alt="")
			p.interests__text !{item.text}


