.global-row
	min-width: 2500px;
	max-width: 3500px;
.global-inner-row
	display: flex;
.color-row
	background-color: $c-first;
	min-height:648px;
	height:648px;
.profile-color
	width:885px;
	background-color: #f0f0f0;
	max-width: 950px;
	min-width 885px;
	flex-basis: 27%;
.profile-row
	padding-left: 200px;
	padding-top: 100px;
	//padding-right: 80px;
.header-row
	padding-left: 200px;
	padding-top: 100px;
.interests
	margin-top: 95px;
	padding-right: 80px;
.reference
	margin-top: 111px;
	padding-right: 0;
.awwards
	padding-right: 80px;
	margin-top: 50px;
.info
	padding-right: 40px;
.skills
	flex-basis: 50%;
	padding-top: 100px
	padding-left: 40px;
	display: inline-block
