.reference
	&__row
		margin-top: -103px;
		margin-left: 96px;
	&__row:last-child
		margin-top: 25px;
		position: relative;
	&__years
		font:$s-regular/125px $f-first;
		color:$c-text;
	&__name
		font:$s-regular/0px $f-second;
		color:$c-first;
		position: relative;
		&:before
			content:url('../../assets/images/circle.png');
			position: absolute;
			left:-74px;
			top: -20px;
	&__text
		font:$s-regular/120px $f-first;
		color:$c-text;
		position: relative;
		margin-top: -3px
	&__line
		position:absolute;
		border-left:5px solid #d3d3d3;
		height: 235px;
		width: 100%;
		top: -50%;
		left: -52px;


