//- Выбираем шаблон
extends  ../blocks/layouts/default


block head
	- var pageTitle = 'CV - Портфолио'

	.global-row
		.color-row.header-row
			include ../blocks/header/header
		.global-inner-row
			.profile-color
				.profile-row
					.info
						include ../blocks/mixins/profile
						+profile({
							img: 'assets/images/profile/case.png',
							title: 'Profile Info',
							text: 'Dolor sit a quam erat volut-pat. Ut wisi enim ad minim veniam, quis nostruduk cipit lobortis nislea quis commodo consequat. Quis nostruduk cipit lobortis nislea.'
						})

					.interests
						+profile({
							img: 'assets/images/profile/case.png',
							title: 'Interests'
						})
						include ../blocks/profile/interests/interests

					.reference
						+profile({
							img: 'assets/images/profile/case.png',
							title: 'Reference'
						})
						include ../blocks/profile/reference/reference

					.awwards
						+profile({
							img: 'assets/images/profile/case.png',
							title: 'Awwards'
						})
						include ../blocks/profile/awward/awward

			section.slills
				include ../blocks/gallery/galery


					//include ../blocks/profile/reference/reference


block content

	//- include ../blocks/block/block