.header
	.header__user-info
		.header__photo
			img
		.header__row
			.header__name Andrew Smith
			.header__post UI/UX Designer
			a.header__link(href="portfolio.html") Portfolio
			a.header__link(href="index.html") Main
	.header__user-adress
		.header__adress
			p.header__text 67/B Munshi para
			p.header__text Sylhet.
		.header__email
			p.header__text itsnuman.com
			p.header__text jan@mail.com
		.header__phone +444 034 534