.header
	min-height:648px;
	display: flex;
	justify-content: space-between;
	padding-top: 80px;
	min-width: 700px;
	&__user-info
		display: flex;
		flex-wrap: nowrap;
		min-width:600px;
	&__row
		margin-left: 85px;
	&__name
		margin-top: 48px;
		font:700 100px/117px $f-headers;
		color: #ffffff;
		letter-spacing: 5px;
	&__post
		color:#ffffff;
		font:58.33px/125px $f-first;
		letter-spacing: 1px;
		margin-top: -7px;
	&__photo
		border-radius:50%;
		background-color: #d6d6d5;
		min-height: 360px;
		min-width: 360px;
		align-self baseline;
	&__user-adress
		color: #ffffff;
		font:$s-regular/67px $f-first;
		position: relative;
		padding-right: 200px;
	&__adress
		&:before
			content:url('../../assets/images/icons/map.png');
			position: absolute;
			left:-60px;
	&__email
		&:before
			content:url('../../assets/images/icons/globe.png');
			position: absolute;
			left:-60px;
	&__phone
		&:before
			content:url('../../assets/images/icons/phone.png');
			position: absolute;
			left:-60px;
	&__link
		color: #ffffff;
		font:$s-regular/67px $f-first;
		display: block;
		&:hover
			color:gold;
			border-bottom:1px solid #821D82;
			display: inline-block