.education
	.education__title
		+profile({
			img: 'assets/images/profile/case1.png',
			title: 'Education'
		})
	.education__row
		.education__items
			.education__inner-wrap
				.education__year 1999 - 2008
				.education__post High School Graduate
				.education__name Microsoft Corp.
			.education__text Nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea cosequat.
	.education__row
		.education__items
			.education__inner-wrap
				.education__year 2010 - 2014
				.education__post Bachelor Degree
				.education__name DeviserWeb
				//.education__line
			.education__text Nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea cosequat.



