.education
	margin-top: 160px
	&__items
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-left: 215px
		padding-right: 270px
		position: relative
		&:first-child
			margin-top: 100px
		&:nth-child(2)
			margin-top: 110px
		&:last-child
			margin-top: 125px
	&__inner-wrap
		flex-basis:50%;
	&__text
		flex-basis: 50%;
		font:$s-regular/90px $f-first;
		color:$c-text;
	&__year
		font:$s-regular/90px $f-first;
		color:$c-text;
	&__post
		font:700 $s-regular/90px $f-first;
		color:$c-first;
		&:before
			content: url("../../assets/images/Ellipse2.jpg");
			left: 150px;
			position: absolute;
			top: 100px;
	&__name
		font:$s-regular/90px $f-first;
		color:$c-text;
	&__line
		display: flex;
		flex-direction: column;
		border-left: 5px solid #d3d3d3;
		border-left: 5px solid #d3d3d3;
		height: 136%;
		width: 1px;
		position: absolute;
		left: 170px;
		top: -90%;
		z-index: -1;