doctype html
html(lang="ru-RU")
	include ../head/head
	body
		//- Служебные переменные
		block settings


		//- Контентные блоки
		block content

	


		//- Скрипты
		script(src="assets/scripts/general.min.js")
