.gallery
	.gallery__title
		+profile({
			img: 'assets/images/profile/case.png',
			title: 'Portfolio'
		})
	.gallery__inner-wrap
		.gallery__row
			.gallery__img
				img
			.gallery__description Converter Ipod Video
			.gallery__text UI/UX Design
		.gallery__row
			.gallery__img
				img
			.gallery__description The Skinny On Lcd
			.gallery__text Web Typography
		.gallery__row
			.gallery__img
				img
			.gallery__description The Best Answers
			.gallery__text Graphics Design
		.gallery__row
			.gallery__img
				img
			.gallery__description 3 Simple Ways To Save
			.gallery__text UI/UX Design
		.gallery__row
			.gallery__img
				img
			.gallery__description Life Advice Looking
			.gallery__text Web Design
		.gallery__row
			.gallery__img
				img
			.gallery__description How To Build A Pc
			.gallery__text Graphics Design