.gallery
	padding-top: 100px
	padding-left: 40px;
	&__inner-wrap
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		padding-left: 500px;
	&__row
		width: 45%;
		height: 30%;
		text-align: center;
		margin-top: 50px
		margin-left: 60px
		box-shadow: 0 0 40px 15px #f4f4f4;
	&__text
		font:$s-regular/90px $f-first;
		color:$c-text;
	&__description
		font:$s-regular/90px $f-second;
		color:$c-text;
	&__img
		width: 100%;
		height: 566px;
		background-color: #d5d5d5;
		margin: 0 auto;