.skills
	.skills__title
		+profile({
			img: 'assets/images/profile/chart.png',
			title: 'Professional Skills'
		})
	.skills__inner-wrap
		.skills__row
			.skills__img
				img(alt="" src='assets/images/skills/93.png')
			.skills__text User Interface
		.skills__row
			.skills__img
				img(alt="" src='assets/images/skills/84.png')
			.skills__text.skills__text--special Web Design
		.skills__row
			.skills__img
				img(alt="" src='assets/images/skills/97.png')
			.skills__text Photoshop
		.skills__row
			.skills__img
				img(alt="" src='assets/images/skills/83.png')
			.skills__text User Experience
