.skills
	flex-basis: 100%;
	&__row
		margin-top: 100px
		flex-basis: 0%;
		min-width 50%
	&__text
		font:$s-regular/90px $f-second;
		color:$c-text;
	&__inner-wrap
		display: flex;
		flex-wrap: nowrap;
		align-items: end;
		justify-content: space-between
	&__text
		margin-top: 60px
	//&__text--special
	//	margin-top: 50px;
	//&__row:not(:first-child)
	//	margin-left: 20px;
